/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.logo {
width: 150px;
height: 150px;
float: left;
position: absolute;
z-index: 10;
top: 3%;
left: 1%;
background: url("ufc.png") left top no-repeat;
}

#user_nav{
position: absolute;
top: 8%;
left: 84%;
}

.legendas{
  padding: 10px;
width: 250px;
color: #fff;
float: left;
height: 100px;
position: absolute;
top: 80%;
left: 1%;
background: rgba(0,0,0,0.8);
}

.legendas .out span{
font-family: "Pontano Sans",sans-serif;
-webkit-transform: rotate(90deg);
font-size: 17px;
width: 110px;
height: 20px;
float: right;
position: relative;
right: -30px;
top: -20px;
display: table;
font-weight: normal;
text-align: left;
}

.btnCadastro{
-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
  background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color:#fe1a00;
  -webkit-border-top-left-radius:0px;
  -moz-border-radius-topleft:0px;
  border-top-left-radius:0px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:0px;
  -moz-border-radius-bottomright:0px;
  border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #d83526;
  display:inline-block;
  color:#ffffff;
  font-family:Trebuchet MS;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #b23e35;
  position: relative;
  z-index: 10;
}
.btnCadastro:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
  background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
  background-color:#ce0100;
}

.btnCadastro:visited {
color: #ffffff;
}

form    {
margin:auto;
position:relative;
width:550px;
height:550px;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
font-style: italic;
line-height: 24px;
font-weight: bold;
color: #b10c17;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
top: 100px;
}

.btnPanel{
text-align: center;
width: 455px;
padding: 30px;
}

.title{
  text-align: center;
}

.tbl{
  width: 490px;
  margin-right: auto;
  margin-left: auto;
}

.tbl-login{
  width: 40px;
  margin-right: auto;
  margin-left: auto;
}
